*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 100px;
    background-color: rgb(0, 0, 0);
    border: aquamarine 3px solid;

}

.container{

    margin: auto;
    height: 100%;
    width: 80%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{

    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
}

.header h1 {
    color: aquamarine;
}

.header ul {
    color: goldenrod;
}

.navbar li {
    font-weight: lighter;
    color: goldenrod;

}

.navbar .active {

    font-weight: bolder;
}

.navbar li a {
    text-decoration: none;
}